.form__container {
  padding: 0;
  max-width: 385px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  border: none;
}
.form__label {
  margin: 0 auto 8px 0;
  display: flex;
  justify-content: space-between;
}
.form__item {
  margin: 0 auto 32px auto;
  height: 60px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
}
.form__item::placeholder {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.form__button {
  margin: 0 0 32px 0;
  height: 60px;
  width: 100%;
  padding: 0%;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  opacity: 100%;
}
.form__button:hover {
  transition: 1s ease-out;
  opacity: 70%;
}
.form__check-options {
  width: 20px;
  height: 20px;
}
.form__check {
  display: flex;
  gap: 20px;
  padding: 0;
  max-width: 385px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  border: none;
}
