.menu {
  background-color: #ffffff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 880px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-style: normal;
}
.menu__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  margin: 100px auto auto auto;
}
.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  margin: 24px auto 100px auto;
}
.cards {
  margin: 0 auto 100px;
  width: 1180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: black solid 1px;
}
.card {
  width: 540px;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
}
.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto 32px 0;
}
.card__list {
  list-style: none;
  padding: 0;
  margin: auto;
}
.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 16px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 16px 0;
}
.card__list-divider {
}
