.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  margin: auto;
  font-size: 16px;
  line-height: 20px;
}
.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 880px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
  z-index: 5;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__logo {
  height: 39px;
  width: 105px;
  margin: 30px auto auto 30px;
}
.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin: 30px 80px auto auto;
  column-gap: 20px;
}

.nav__link {
  top: 30px;
  right: 80px;
  color: #000000;
  text-decoration: none;
}
.nav__link:hover {
  color: #1f69c9;
}
.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  height: 568px;
  width: 646px;
  z-index: -1;
}
.header__title {
  max-width: 729px;
  margin: 183px auto 28px 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}
.header__title-span {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}
.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 0 auto auto 80px;
}
.header__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  list-style: none;
}
.header__footer_list {
  list-style: none;
  margin: 0 auto 40px 80px;
  padding: 0;
}
.header__footer_list-item {
  padding: 2px;
}
.header__address {
  margin: auto 80px 40px auto;
  padding: 0;
}
.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  color: #ffffff;
  min-height: 720px;
  max-height: 880px;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 100px auto 24px 80px;
  padding: 0;
}
.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 0 auto 80px 80px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.recipes__videos_caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.recipes__videos_caption-1 {
  display: flex;
}
.recipes__videos_caption-2 {
  display: flex;
}
.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 880px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-family: "Inter", Arial, sans-serif;
}
.reservation__form {
  display: flex;
  flex-direction: column;
}
.reservation__title {
  margin: 100px auto 80px auto;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form-container {
  padding: 0;
  max-width: 385px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  border: none;
}
.reservation__form-label {
  margin: 0 auto 8px 0;
}
.reservation__form-item {
  margin: 0 auto 32px auto;
  height: 60px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
}
.reservation__form-item::placeholder {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.reservation__form-button {
  margin: 0 0 32px 0;
  height: 60px;
  width: 100%;
  padding: 0%;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  opacity: 100%;
}
.reservation__form-button:hover {
  transition: 1s ease-out;
  opacity: 70%;
}
.reservation__form-options {
  width: 20px;
  height: 20px;
}
.reservation__form-container-check {
  display: flex;
  gap: 20px;
}
